# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
inventaris-lab-kom
inventaris-lab-kom.exe

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/
!web/static/vendor/

# Go workspace file
go.work

# Environment variables
.env
.env.local

# Database files
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
full_testing.db

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/*
!uploads/.gitkeep

# Temporary files
tmp/
temp/

# Build artifacts
*.zip

app-simlab

# SSG Public Site Build Output
dist/

# Docs & backups (moved to root docs_and_backup/)
docs_and_backup/

local_logbook_*

simlabmi
simlabmi*

# Build linux release private package
scripts/build_linux_release/
.env.config
