<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
</head>
<body>
    {{ template "layout/navbar.html" . }}
    <div class="container-fluid my-4">

{{ define "layout/footer.html" }}
    </div>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
    {{ block "page-scripts" . }}{{ end }}
</body>
</html>
{{ end }}