<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{.basePath}}/dashboard.html">
            <i class="bi bi-pc-display-horizontal"></i>
            Inventaris Lab Kom
        </a>
        <span class="badge bg-warning text-dark ms-2 fs-6">{{.labTitle}}</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPublic">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPublic">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {{ if eq .currentPage "dashboard" }}active{{ end }}" href="{{.basePath}}/dashboard.html">
                        <i class="bi bi-grid-3x3-gap"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ if eq .currentPage "pc" }}active{{ end }}" href="{{.basePath}}/pc/list.html">
                        <i class="bi bi-pc-display"></i> PC
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ if eq .currentPage "devices" }}active{{ end }}" href="{{.basePath}}/devices/list.html">
                        <i class="bi bi-hdd-rack"></i> Perangkat
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ if eq .currentPage "software" }}active{{ end }}" href="{{.basePath}}/software/list.html">
                        <i class="bi bi-app-indicator"></i> Software
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ if eq .currentPage "schedules" }}active{{ end }}" href="{{.basePath}}/schedules/list.html">
                        <i class="bi bi-calendar-event"></i> Jadwal
                    </a>
                </li>
                <li class="nav-item ms-3">
                    <a class="btn btn-outline-light btn-sm" href="/">
                        <i class="bi bi-arrow-left-circle"></i> Semua Lab
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
