[Unit]
Description=Inventaris Laboratorium Komputer
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/inventaris-lab
EnvironmentFile=/etc/inventaris-lab/.env
ExecStart=/opt/inventaris-lab/app-simlab
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
